 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }

  .layout {
    display: flex;
    min-height: 100vh;
  }

  .sidebar {
    background-color:white;
    padding: 20px;
    width: 320px;
    flex-shrink: 0;
  }

  h1 {
    margin-left: 40px;
  }

  .main-content {
    background-color: #F8F8F8;
    flex: 1;
    padding: 20px;
  }

  .main-text {
    margin-left: 1000px;
    margin-top: -50px;
  }

  .main-text2 {
    margin-left: 1340px;
    margin-top: -37px;
  }

  .repair-icon {
    position: absolute;
    margin-left: 1166px;
    margin-top: -46px;
  }

  .checkstatus-icon {
    position: absolute;
    margin-left: 1499px;
    margin-top: -46px;
  }

  .services__tab {
    background: #F8F8F8;
    border: none;
    font-size: 19px;
    display: flex;
    white-space: nowrap;
    margin-top: 35px;
  }

  .remont-brendov {
    color: grey;
    margin-top: 20px;
    margin-left: 50px;
  }

  .otzivi {
    position: absolute;
    margin-top: -5px;
    margin-left: 80px;
  }

   .services_nav {
    display: flex;
    gap: 105px;
    overflow-y: auto;
  }

  .img-cps {
    margin-left: 740px;
    margin-top: -152px;
    z-index: 10;
  }

  .cps-img {
   width: 800px;
   border-radius: 8px;
  }

  .services__tab--active {
    background-color: #fff;
    border: 1px solid #00cc99;
    padding: 1px 34px;
    border-radius: 5px;
    margin-left: 45px;
  }

  .read-more-btn {
    display: inline-flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  .thrt-icon {
    object-fit: contain;
    width: 30px;
    height: 30px;
  }

  h1, h2, h3 {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li a {
    text-decoration: none;
    color: #333;
  }

  .services_text {
    font-size: 18px;
    width: 610px;
    margin-top: 80px;
    margin-left: 50px;
  }

  .more-text {
    font-size: 18px;
    width: 610px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .liniya-1 {
    margin-top: 50px;
  }

.brand-grid {
  width: 95%;
  display: grid;
  margin: 20px;
  padding-left: 30px;
  margin-top: 3%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.brand-card {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsed {
  display: none;
}



  /* Адаптация под мобильные */
  @media (max-width: 768px) {
    .layout {
      flex-direction: column;
    }

    .sidebar {
      width: 100%;
    }
  }